body {
  background-color: rgb(49, 164, 97);
  background: url(https://images-ext-1.discordapp.net/external/2w5AecLbKzRgM0Vt6QSxDxRn-xjeyfjAWdKF_fW1Qs8/https/res.cloudinary.com/dtz0urit6/image/upload/w_512%2Ce_upscale%2Cq_auto/cloudinary-tools-uploads/wiycelgq8erwic33vmlv.jpeg?format=webp&width=471&height=836)
    center center/cover;
  background-repeat: repeat-y;
  display: flex;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: bold;
  color: rgb(87, 100, 0);
}
h2 {
  text-decoration: underline;
  font-style: italic;
}

h3 {
  color: rgb(103, 97, 11);
}

h4 {
  text-decoration: underline;
  color: rgb(128, 131, 28);
}

link {
  text-align: center;
}

.box {
  max-width: 1700px;
  margin: 50px 250px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 170px minmax(0, 1fr);
}

.nav2,
header,
main,
footer {
  border: rgb(113, 130, 47) 5px solid;
  border-radius: 4px;
  background-color: rgb(173, 181, 104);
}

header,
.nav4 {
  grid-row: 1/2;
  grid-column: 1/3;
}

.nav4 {
  border-top: rgb(113, 130, 47) 5px solid;
  background-color: rgb(173, 181, 104);
  margin-top: 145px;
  height: 60px;
  max-width: 1300px;
  display: grid;
  grid-template-rows: 10px;
}

.nav2 {
  grid-row: 2/3;
  grid-column: 1/2;
  height: max-content;
  padding: 10px;
}

.navul {
  list-style: square;
  margin-right: 15px;
}

.navul a {
  color: rgb(66, 77, 18);
}

main {
  grid-row: 2/3;
  grid-column: 2/3;
  height: max-content;
  padding: 15px;
}

img {
  vertical-align: middle;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.info {
  flex: 1;
}

footer {
  grid-row: 4/3;
  grid-column: 1/3;
  font-weight: lighter;
  padding: 5px;
  max-height: 50px;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
}
footer li {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav4 input[type="radio"] {
  display: none;
}

.mytabs {
  background-color: rgb(173, 181, 104);
  background-repeat: 1700px;
  display: flex;
}

.tab {
  height: 37px;
  width: 60px;
  order: 1;
  text-align: center;
}

.nav4 a {
  flex-grow: 1;
  color: rgb(85, 85, 1);
  font-size: 20px;
  font-style: bold;
  padding-top: 16px;
}

.nav4 .tab {
  padding: 10px;
  align-items: center;
  background-color: rgb(173, 181, 104);
  order: 1;
  display: none;
}

.mytabs label {
  display: none;
  width: 10px;
  padding-top: 10px;
  padding-left: 30px;
  height: 18px;
  text-align: center;
  background-color: rgb(173, 181, 104);
}

.block {
  text-align: center;
}

.nav4 input[type="radio"]:checked + label + .block .tab {
  display: block;
}

a:hover {
  font-style: oblique;
  color: rgb(121, 119, 46);
}

@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

header {
  height: 200px;
  min-width: 1000px;
  padding: 10px 0;
}

a {
  text-decoration: none;
}
